
11 Introduction/.ipynb_checkpoints/Plots-checkpoint.ipynb
11 Introduction/.DS_Store
.DS_Store
*.pdf
12 Linear Models 1/.ipynb_checkpoints/Classification-checkpoint.ipynb
12 Linear Models 1/.ipynb_checkpoints/Plots-checkpoint.ipynb
21 Methodology 1/.ipynb_checkpoints/Breast cancer-checkpoint.ipynb
*.png
22 Methodology 2/.ipynb_checkpoints/PCA2-checkpoint.ipynb
22 Methodology 2/.ipynb_checkpoints/PCA1-checkpoint.ipynb
32 Deep learning 1/.ipynb_checkpoints/Examples-checkpoint.ipynb
41 Linear Methods 2/.ipynb_checkpoints/Linear Methods 2-checkpoint.ipynb
42 Probabilistic Models 2/.ipynb_checkpoints/PM Plots-checkpoint.ipynb
*/.ipynb_checkpoints/*.ipynb
autoencoder/lfw*
autoencoder/logs*
autoencoder/slurm-1787110.out
